# Misc
/vendor/
/composer.lock
/.idea/
.phpunit.cache/
.phpunit.coverage/
infection.html

# PHPDA
phpda.yml
base.html
class-level.html
class-level-with-all-visitors.html

# Bot secrets
password.txt
private-password.txt
